@import 'mixins';
$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

/* Put your CSS here */
html, body {
    margin: 30px 0;
    height: 100%;
}

.ember-view, .full-height {
  height: 98%;
}
#main{
  padding-left: 0;
  .left-side-nav {
    padding-left: 0;
    .sidebar-nav {
      padding: 5px;

    }
  }
  .side-forms {
    overflow: scroll;
    .search-results {
      .search-result {
        border: solid 1px black;
        padding: 10px;
        margin: 10px 0;
        @include clear();
        img {
          max-width: 50px;
          height: auto;
        }
      }
    }
    .button {
      margin: 10px 0;
      padding: 10px 0;
    }
    .full-input {
      width: 100%;
    }
  }
  .drop-zone {
    height: 100%;
  }
}

.nav-tabs{
  float: left;
  margin-right: 19px;
  border: none;
  > li {
    float: none;
    &.active a {
      border: none;
      &:hover {
        border: none;
      }
    }
    > a {
      min-width: 74px;
      margin-right: 0;
      margin-bottom: 3px;
      margin-right: -1px;
      border: none;
    }
  }
}
// .tab-content {
//   > .tab-pane {
//     display: none;
//   }
//   > .active {
//     display: block;
//   }
// }
