ul.alert-list {
  list-style: none;
  padding: 0;
  margin-left: 0;
}
.alert {
  border: 0;
  border-left-width: 10px;
  border-left-style: solid;
  border-radius: 0;
  margin-bottom: 10px;
  padding: 10px;
  background: #e0e0e0;
  &.low {
    border-left-color: $green;
  }
  &.medium {
    border-left-color: $yellow;
  }
  &.high {
    border-left-color: $orange;
  }
}
