.enviroment-tabs {
  background: $orange;
  color: $white;
  @include respond-to('medium') {
    max-height: 50px;
  }
  ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    @include respond-to('medium') {
      position: absolute;
      float: right;
      width: auto;
      right: 0;
      top: 49px;
      z-index: 9999;
    }
    li {
      width: 100%;
      display: inline-block;
      border-right: 1px solid $gray_40;
      text-transform: uppercase;
      @include respond-to('medium') {
        float: left;
        width: auto;
      }
      @include rem(1.2);
      a {
        line-height: 2;
        padding: 10px 15px;
        background: $gray_1;
        display: block;
        color: $gray_40;
        &.active {
          background: $orange;
          color: $white;
        }
      }
    }
  }
}
