ul.item-list {
  list-style: none;
  width: 100%;
  padding: 0;
  @include respond-to('medium') {
    width: 768px;
    margin: 0 auto;
  }
  @include respond-to('large') {
    width: 1200px;
  }
  .item {
    float: left;
    width: 100%;
    padding: 10px;
    background: $white;
    margin-bottom: 5px;
  }
  .info {
    float: left;
  }
  .date-time {
    width: 20%;
  }
  .task-title {
    width: 20%;
    font-weight: 700;
  }
  .progress {
    width: 25%;
    float: right;
    margin-bottom: 0;
  }
}
