.main-content {
  padding: 10px;
  z-index: 0;
  @include respond-to('medium') {
    padding-top: 50px;
  }
  .view-buttons {
    float: right;
    margin-right: 15px;
    .btn.active {
      @include border-arrow('bottom', 8px, $teal);
      &:hover {
        background: $teal;
      }
    }
  }
  // Wipe the styles from bootstrap
  .well {
    background: none;
    border: none;
    padding: 45px 15px 15px;
    @include box-shadow(none);
  }
  // Control the view of the list
  .well.list-view {
    position: absolute;
    top: 90px;
    right: 25px;
    padding: 15px;
    min-width: 243px;
    background: $gray_3;
    z-index: 9999;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
      }
    }
  }
  .drop-zone {
    height: 100%;
  }
}
