.search-form {
  padding: 10px 15px;
  background: $white;
  margin-bottom: 20px;
  float: left;
  width: 100%;
  input {
    float: right;
    width: 63%;
    padding: 5px 5px 3px;
  }
  .ember-select-list {
    width: 35%;
  }
}

.search-result {
  border: none;
  padding: 10px;
  background: #efefef;
  margin-bottom: 3px;
  .logo-image {
    display: inline-block;
    padding: 9px 10px;
    border: 3px solid $gray_4;
    background: $gray_1;
    border-radius: 50%;
    width: 49px;
  }
  .object-text {
    display: inline-block;
    vertical-align: middle;
  }
  .version {
    display: block;
    color: $orange;
    @include rem(1.2);
  }
  .icon-move {
    float: right;
    padding-top: 14px;
  }
  img {
    max-width: 100%;
    width: 22px;
  }
  // Search Results in the drop zone
  .drop-zone & {
    background: none;
    .icon-move {
      display: none;
    }
  }
  .list-view &{
    .icon-move {
      display: none;
    }
  }
  &.active {
    .logo-image {
      background: $white;
      border-color: $orange;
    }
  }
}
