.sidebar-nav {
  ul {
    list-style: none;
    padding: 0;
  }
  .nav-tabs {
    border-bottom: 0;
    li {
      margin: 0 0 2px;
      display: block;
      width: 100%;
      background: $gray_2;
      border-radius: 0;
      a {
        margin: 0;
        border: none;
        border-radius: 0;
        color: $white;
        text-transform: uppercase;
      }
      &:hover {
        a{
          background: lighten($gray_3, 10);
          color: $gray_2;
        }
      }
      &.active {
        a {
          color: $gray_2;
          background: $gray_3;
          &:hover {
            border: 0;
            background: $gray_3;
          }
        }
      }
    }
  }
}
