/**
* Form elements: Inputs, buttons, etc.
*/

form {
}

fieldset {
}

legend {
}


label,
input,
button,
select,
textarea {

}

input,
button,
select,
textarea {
  margin: 0;
  padding: 5px;
  font-family: $form-font-family; // And only set font-family here for those that need it (note the missing label element)
  border: 1px solid darken($gray_4, 10);
  color: #626262;
  background: #efefef;
}

label {
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {


  &:hover {

  }

  &:active {

  }
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {

  &:focus {

  }
}

input[type="checkbox"] {

}
/**
 *
 */
.form-wrapper {
  padding: 10px 15px;
  background: $white;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
/**
 * Form inputs with labels
 */
.form-input-label {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  color: #333333;
  label {
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 3px;
    line-height: 1;
    @include rem(1.4);
  }
  input {
    width: 100%;
  }
}
/**
 * Select List
 */
.ember-select-list {
  float: left;
  width: 100%;
  clear: both;
  position: relative;
  select {
    width: 100%;
    overflow: hidden;
    @include appearance(none);
    text-indent: 0.01px;
    text-overflow: '';
    position: relative;
    padding: 4px;
  }
  &::before,
  &::after {
    position: absolute;
    right: 8px;
    display: block;
    z-index: 99;
    content: '';
    // Style
    border-color: darken($gray_4, 10);
    border-width: 5px;
    border-style: solid;
    border-right-color: transparent;
    border-left-color: transparent;
  }
  &::before {
    top: 3px;
    border-top-color: transparent;
  }
  &::after {
    top: 14px;
    border-bottom-color: transparent;
  }
  &.form-input-label {
    &::before {
      top: 21px;
    }
    &::after {
      top: 32px;
    }
  }
}
