/**
 * Layouts Partials
 *
 * Layout and Design are not the same. Break it out and let it breath.
 *
 * Just like the beat.
 */

// If you have questions about this: Ask Paul Irish.
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  background: #f3f3f3;
}

.ember-view, .full-height {
  height: 100%;
}

.container {
  margin: 0;
  padding: 50px 0 0;
  width: 100%;
}
#main {
  @include respond-to('medium') {
    display: table;
    height: 100%;
  }
}
.l-col {
  position: relative;
  @include respond-to('medium') {
    display: table-cell;
    vertical-align: top;
    height: 100%;
  }
}

.l-col-1 {
  background: $gray_1;
  @include respond-to('medium') {
    width: 200px;
  }
}

.l-col-2 {
  background: #e0e0e0;
  @include respond-to('medium') {
    width: 360px;
  }
}
.l-col-3 {
  padding-top: 50px;
}

.main-content-outlet {
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  z-index: -9;
}

@import 'dashboard';
