/**
 * Layouts Partials
 *
 * Layout and Design are not the same. Break it out and let it breath.
 *
 * Just like the beat.
 */

// If you have questions about this: Ask Paul Irish.
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}
#main {
  @include respond-to('medium') {
    display: table;
    height: 100%;
  }
}
.l-col {
  position: relative;
  @include respond-to('medium') {
    display: table-cell;
    vertical-align: top;
    height: 100%;
  }
}

.l-col-1 {
  background: $gray_1;
  @include respond-to('medium') {
    width: 160px;
  }
}

.l-col-2 {
  background: $gray_3;
  @include respond-to('medium') {
    width: 360px;
  }
}

.main-content-outlet {
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
}
