<div class="wrapper full-height">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <ul class="main-menu">
        {{#link-to 'index' tagName='li' class=" icon icon-dashboard"}}Dashboard{{/link-to}}
        {{#link-to 'build' tagName='li' class=" icon icon-application"}}Build Mode{{/link-to}}
        {{#link-to 'queue' tagName='li' class=" icon icon-queue"}}Queue{{/link-to}}
        {{#link-to 'logs' tagName='li' class=" icon icon-logs"}}Logs{{/link-to}}
      </ul>
    </nav>
    <div class="container" id="main">
        {{outlet}}
    </div>
</div>
