<div class="wrapper full-height">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <ul class="main-menu">
        {{#link-to 'application' tagName='li' class=" icon icon-application"}}Application{{/link-to}}
        {{#link-to 'dashboard' tagName='li' class=" icon icon-dashboard"}}Dashboard{{/link-to}}
      </ul>
    </nav>
    <div class="container" id="main">
        {{outlet}}
    </div>
</div>
