<div class="container" id="main">
  <div class="main-chart-area">
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>
  <div class="right-side-chart-area">
    <div style="width: 600px; height: 400px; margin: 0 auto">
      <div id="container-speed" style="width: 300px; height: 200px; float: left"></div>
      <div id="container-rpm" style="width: 300px; height: 200px; float: left"></div>
    </div>
  </div>
</div>
