<div class="wrapper full-height">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        {{#link-to 'index' tagName='li'}}Home{{/link-to}}
        {{#link-to 'about' tagName='li'}}About{{/link-to}}
        {{#link-to 'products' tagName='li'}}Products{{/link-to}}
      </ul>

        <div class="enviroment-tabs">
            <ul class="enviroment-menu">
                <li class="dev-menu-item">
                    <a href="javascript:void(0)" id="dev-tab" class="active">Development</a>
                </li>
                <li class="stage-menu-item">
                    <a href="javascript:void(0)" id="stage-tab">Staging</a>
                </li>
                <li class="qa-menu-item">
                    <a href="javascript:void(0)" id="qa-tab">QA</a>
                </li>
                <li class="prod-menu-item">
                    <a href="javascript:void(0)" id="prod-tab">Production</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" id="main">
      <h1>Dashboard (cool charts)</h1>
    </div>
</div>
