<h1 id="page-title">Inactive Servers</h1>
<div id="inactive-servers">
  <ul class="item-list inactive-list">
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        JNL-Example64
      </div>
      <div class="info object">
        Drupal
      </div>
      <div class="info task-type">
        Not accessed in 10 days.
      </div>
      <span class="delete-inactive btn">Delete</span>
    </li>
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        JNL-Example41
      </div>
      <div class="info object">
        Drupal
      </div>
      <div class="info task-type">
        Not accessed in 8 days.
      </div>
      <span class="delete-inactive btn">Delete</span>
    </li>
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        JNL-Example54
      </div>
      <div class="info object">
        Drupal
      </div>
      <div class="info task-type">
        Not accessed in 7 days.
      </div>
      <span class="delete-inactive btn">Delete</span>
    </li>
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        JNL-Example60
      </div>
      <div class="info object">
        Drupal
      </div>
      <div class="info task-type">
        Not accessed in 5 days.
      </div>
      <span class="delete-inactive btn">Delete</span>
    </li>
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        JNL-Example59
      </div>
      <div class="info object">
        Drupal
      </div>
      <div class="info task-type">
        Not accessed in 4 days.
      </div>
      <span class="delete-inactive btn">Delete</span>
    </li>
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        JNL-Example66
      </div>
      <div class="info object">
        Drupal
      </div>
      <div class="info task-type">
        Not accessed in 3 days.
      </div>
      <span class="delete-inactive btn">Delete</span>
    </li>
  </ul>
</div>
<div id="delete-server-dialog" title="Delete Object">
  <div class="delete-progress-label">Starting deletion...</div>
  <div id="delete-progressbar"></div>
</div>
