<h1 id="page-title">Inactive Servers</h1>
<div id="inactive-servers">
  <ul class="item-list inactive-list">
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        Database Created
      </div>
      <div class="info object">
        JNL-Example64
      </div>
      <div class="info task-type">
        Low
      </div>
    </li>
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        Database reads above defined threshold
      </div>
      <div class="info object">
        JNL-Example41
      </div>
      <div class="info task-type">
        High
      </div>

    </li>
  </ul>
</div>
