<div class="container" id="main">
  <div class="chart-area">
    <div id="zoom-chart-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div style="width: 600px; height: 400px; margin: 0 auto">
      <div id="container-speed" style="width: 300px; height: 200px; float: left"></div>
      <div id="container-rpm" style="width: 300px; height: 200px; float: left"></div>
    </div>
    <div id="mulit-chart-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="alerts" >
      <ul class="alert-list">
        <li class="low">Alert Title</li>
        <li class="medium">Alert Title</li>
        <li class="low">Alert Title</li>
        <li class="high">Alert Title</li>
      </ul>
    </div>
    <div id="logs" >
      <ul class="log-list">
        <li >Alert Title</li>
        <li >Alert Title</li>
        <li >Alert Title</li>
        <li >Alert Title</li>
      </ul>
    </div>
  </div>
</div>
