<div class="well drop-zone canvas-view active" id="dev-canvas">

</div>
<div class="well canvas-view active" id="stage-canvas" style="display:none;">

</div>
<div class="well canvas-view active" id="qa-canvas" style="display:none;">

</div>
<div class="well canvas-view active" id="prod-canvas" style="display:none;">

</div>

<div class="well list-view col-md-3" style="display: none;">
  <ul class="list-view-list">

  </ul>
</div>
