<div class="well drop-zone canvas-view active development-canvas" id="dev-canvas">

</div>
<div class="well canvas-view active staging-canvas" id="stage-canvas" style="display:none;">

</div>
<div class="well canvas-view active qa-canvas" id="qa-canvas" style="display:none;">

</div>
<div class="well canvas-view active production-canvas" id="prod-canvas" style="display:none;">

</div>

<div class="well list-view droppable-list development-list" id="dev-list-view" style="display: none;">
  <ul class="list-view-list">

  </ul>
</div>

<div class="well list-view staging-list" id="stage-list-view" style="display: none;">
  <ul class="list-view-list">

  </ul>
</div>

<div class="well list-view qa-list" id="qa-list-view" style="display: none;">
  <ul class="list-view-list">

  </ul>
</div>

<div class="well list-view production-list" id="prod-list-view" style="display: none;">
  <ul class="list-view-list">

  </ul>
</div>
