<h1 id="page-title">Logs</h1>
<div id="logs">
  <ul class="item-list log-list">
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        Database Created
      </div>
      <div class="info object">
        JNL-Example64
      </div>
      <div class="info task-type">
        Low
      </div>
      <span class="view-details btn">View</span>
      <div class="details" style="display:none;"></div>
    </li>
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        Database reads above defined threshold
      </div>
      <div class="info object">
        JNL-Example41
      </div>
      <div class="info task-type">
        High
      </div>

      <span class="view-details btn">View</span>
      <div class="details" style="display:none;"></div>
    </li>
  </ul>
</div>
