<h1 id="page-title">Logs</h1>
<div id="logs">
  <ul class="item-list log-list">
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        Task Title
      </div>
      <div class="info task-type">
        Sync
      </div>
      <div class="info progress">
        Progress Bar #################
      </div>
    </li>
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        Task Title
      </div>
      <div class="info task-type">
        Sync
      </div>
      <div class="info progress">
        Progress Bar #################
      </div>
    </li>
  </ul>
</div>
