<h1 id="page-title">Queue</h1>
<div id="queue">
  <ul class="item-list">
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        JNL-Example44
      </div>
      <div class="info task-type">
        Deploy
      </div>
      <div class="info progress" data-percent="70">
      </div>
    </li>
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        JNL-Example48
      </div>
      <div class="info task-type">
        Sync
      </div>
      <div class="info progress" data-percent="40">
      </div>
    </li>
  </ul>
</div>
