<h1 id="page-title">Queue</h1>
<div id="queue">
  <ul class="item-list">
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        JNL-Example44
      </div>
      <div class="info task-type">
        Deploy
      </div>
      <div class="info progress" data-percent="99">
      </div>
    </li>
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        DRUPAL:JNL-Example48
      </div>
      <div class="info task-type">
        Sync (DEV to STAGING)
      </div>
      <div class="info progress" data-percent="40">
      </div>
    </li>
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        Database:JNL-Example04  
      </div>
      <div class="info task-type">
        Backup
      </div>
      <div class="info progress" data-percent="35">
      </div>
    </li>
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        Varnish:Test01
      </div>
      <div class="info task-type">
        Deploy
      </div>
      <div class="info progress" data-percent="85">
      </div>
    </li>
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        JNL-Example44
      </div>
      <div class="info task-type">
        Deploy
      </div>
      <div class="info progress" data-percent="15">
      </div>
    </li>
    <li class="item">
      <div class="info date-time">
        June 28, 2014 @ 18:00
      </div>
      <div class="info task-title">
        Database:JNL-Example0
      </div>
      <div class="info task-type">
        Backup
      </div>
      <div class="info progress" data-percent="21">
      </div>
    </li>
  </ul>
</div>
