<div class="container" id="main">
  <div id="queue">
    <ul class="queue-list">
      <li class="queue-item">
        <div class="item date-time">
          June 28, 2014 @ 18:00
        </div>
        <div class="item task-title">
          Task Title
        </div>
        <div class="item task-type">
          Sync
        </div>
        <div class="item progress">
          Progress Bar #################
        </div>
      </li>
      <li class="queue-item">
        <div class="item date-time">
          June 28, 2014 @ 18:00
        </div>
        <div class="item task-title">
          Task Title
        </div>
        <div class="item task-type">
          Sync
        </div>
        <div class="item progress">
          Progress Bar #################
        </div>
      </li>
    </ul>
  </div>
</div>
